[Unit]
Description=Stage 1 of BTRFS Install
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/tmp/install_script/btrfs-st-1.sh

[Install]
WantedBy=multi-user.target
