[Unit]
Description=Stage 1 of BTRFS Install
After=network.target

[Service]
ExecStart=/bin/bash /opt/fedora-main/btrfs/scripts/btrfs-st-1.sh

[Install]
WantedBy=multi-user.target