[Unit]
Description=Stage 3 of BTRFS Install
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash /opt/fedora-main/btrfs/scripts/btrfs-st-3.sh

[Install]
WantedBy=multi-user.target
